html,body { margin: 0; padding: 0; font: 400 1em "Lato",sans-serif; height:100%; overflow:auto; }

body {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #FFF;
	text-rendering: optimizeLegibility;
}

a {
	text-decoration: none;
}

h1 {
	font: 700 2em "Lato",sans-serif;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-margin-before: 0;
	-moz-margin-before: 0;
	-ms-margin-before: 0;
	-o-margin-before: 0;
	margin-before: 0;
	padding-top: 0.83em;
}

h2 {
	border-bottom: 1px solid #CCC;
}

img {
	max-width: 100%;
}

header {
	height: 100%;
	line-height: 42px;
	position: relative;
	float: left;
	min-width: 150px;
	background: url('../images/back.png') #333;
	color: #FFF;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border-right: 1px solid #333;
	box-shadow: inset -10px 0 10px rgba(0,0,0,0.1), 5px 0 10px rgba(255,255,255,1);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
	z-index: 100;
}

@-webkit-keyframes header {
	from {
		left: -150px;
		opacity: 0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}
@-moz-keyframes header {
	from {
		left: -150px;
		opacity:0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}
@-o-keyframes header {
	from {
		left: -150px;
		opacity:0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}
@keyframes header {
	from {
		left: -150px;
		opacity:0;
	}
	to {
		left: 0;
		opacity: 1;
	}
}

header a {
	color: #FFF;
	display: block;
}

#logo {
	margin-left: 20px;
	margin-top: 20px;
	display: block;
	padding-right: 20px;
	color: #FFF;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 1.5em;
}

#logo:hover {
	color: #CCC;
}

nav {
	float: right;
	width: 100%;
	overflow: hidden;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

nav li {
	display: block;
	width: 100%;
	text-align: left;
	padding-left: 20px;
}

nav li:hover {
	background: #222;
}

nav li:hover:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
	border: 10px solid transparent;
	border-left-color: #222;
	left: 100%;
	margin-top: -29px;
}

nav a {
	display: block;
	width: 100%;
	height: 100%;
}

#frame {
	padding-left: 50px;
	max-height: 100%;
	overflow: auto;
}

section {
	position: relative;
	padding-bottom: 20px;
	-webkit-animation: header 0.4s cubic-bezier(0.2,1,1,1);
	-moz-animation: header 0.4s cubic-bezier(0.2,1,1,1);
	-o-animation: header 0.4s cubic-bezier(0.2,1,1,1);
	animation: header 0.4s cubic-bezier(0.2,1,1,1);
}

#pages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: none;
}

#pages ul form {
	display: inline-block;
}

.button {
	display: inline-block;
	background: #555;
	color: #FFF;
	padding: 12px 24px;
	margin-left: 0;
	border-radius: 5px;
	font: 700 0.8em "Lato",sans-serif;
	text-transform: uppercase;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.button:hover {
	background: #333;
}

.button:focus {
	outline-color: #111;
}

.button:disabled {
    background: #CCC;
    cursor: default;
}

.page {
	margin-right: 10px;
	height: 100px;
	font-size: 1em;
	position: relative;
	display: inline-block;
}

.page > li {
	line-height: 100px;
	min-width: 30px;
	text-align: center;
}

.page:after {
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	top: 0;
	left: 0;
	border: 10px solid #FFF;
	border-right-color: #333;
	border-bottom-color: #333;
	border-bottom-right-radius: 3px;
	box-shadow: 5px 5px 5px rgba(0,0,0,0.3), 1px 1px #000;
}

.page:hover:after {
	border-right-color: #111;
	border-bottom-color: #111;
}

.tag {
	display: inline-block;
	font-size: 1em;
	cursor: default;
	margin: 0 5px;
	padding-left: 1.5em;
}

.tag:before {
	display: block;
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	border: 8px solid transparent;
	border-left-color: #FFF;
	margin-left: -1.5em;
	margin-top: 8px;
}

.delete {
	background: #622;
}

.delete:hover {
	background: #A00;
}

#compose {
	width: 100%;
}

input, textarea {
	display: block;
	width: 80%;
	margin: 12px 0;
	border: 1px dashed rgba(25,100,125,0.75);
	padding: 12px;
	border-radius: 3px;
}

input[type=text] {
	font: 1.5em "Lato",sans-serif;
}

textarea {
	font: 1em "Lato",sans-serif;
}

input[type=text]:focus, textarea:focus {
	outline-color: #555;
}

button.button {
	border: none;
	cursor: pointer;
}

blockquote {
	border-radius: 5px;
	padding: 2em 3em;
	margin: 0;
	border: 1px dashed rgba(25,100,125,0.75);
	background: rgba(255,255,255,0.75);
}

blockquote h1 {
	margin-top: 0.25em;
}

.error {
	background: #A33;
	color: #FFF;
	width: 80%;
	overflow: hidden;
	padding: 12px;
	border-radius: 3px;
	display: none;
}

.help {
	display: inline-block;
	background: #555;
	color: #DDD;
	font-size: 0.6em;
	font-weight: bold;
	text-align: center;
	line-height: 15px;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	vertical-align: middle;
	margin-top: -3px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.help:hover {
	background: #333;
}

#clear {
	height: 15em;
}